body{
    background: rgb(0, 27, 28);
    padding: 0;
    margin: 0;
    font-size: 20px;
    color: cornsilk;
}

.conteiner{
    background: rgb(137, 42, 7); 
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    margin-top: 150px;
    padding: 20px;
}

.dados{
    height: 500px;
    background:  rgba(0, 27, 28, 0.661); 
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
    height: auto;
    width: 300px;
    padding: 30px; 

}

input{
    width: 60px;
    display: flex;
    margin: auto;
    padding: 0;

}
button{
    width: 70px;
    background:  rgb(3, 46, 64); ;
    color: cornsilk;
    border-color:  rgb(54, 168, 13); ;
    border-start-end-radius: 15px;
    border-start-start-radius: 15px;
    border-end-start-radius: 15px;
    border-end-end-radius: 15px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.sexo{
    display: flex;
    justify-content: center;
    margin: auto;
}

label{
    margin: auto;
}

